/* Common Css Start */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
}
ol,
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.container{
   width: 1170px;
   margin: 0 auto;
}
.row{
   display: flex;
   flex-wrap: wrap;
}
.text-center{
   text-align: center;
}
.sec_info h2{
   font-size: 46px;
   color: #02918c;
   text-transform: uppercase;
}
.sec_info p{
   font-size: 16px;
   line-height: 41px;
   color: #7e8287;
   margin: 0 auto;
}
.sec_info p span{
   font-size: 23px;
   font-weight: 800;
}
/* //Common Css End */

/* Nav Section Css Start */
nav {
  background-color: #02918c;
}
nav .row{
   align-items: center;
}
nav .logo{
   width: 20%;
}
nav .logo img{
   display: block;
}
nav .menu{
   width: 80%;
}
nav .menu ul{
   display: flex;
   flex-wrap: wrap;
   justify-content: flex-end;
}
nav .menu ul li a{
   display: block;
   font-size: 12px;
   font-weight: 800;
   color: #ffffff;
   text-transform: uppercase;
   padding: 22px 25px;
   transition: all .4s linear;
}
nav .menu ul li:hover a{
   color: #cfc91d;
}
/* //Nav Section Css End */

/* Banner Section Css Start */
#banner{
   height: 728px;
   background-image: url(../img/banner_bg.jpg);
   background-size: cover;
   background-position: center;
   position: relative;
   z-index: 1;
}
#banner::before{
   content: '';
   position: absolute;
   width: 100%;
   height: 100%;
   background-color: black;
   left: 0;
   top: 0;
   z-index: -1;
   opacity: 0.66;
}
#banner .container,
#banner .container .row{
   height: 100%;
}
#banner .container .row{
   align-items: center;
   justify-content: center;
}
#banner .banner_content{
   text-align: center;
   color: #ffffff;
}
#banner .banner_content h4{
   font-size: 30px;
}
#banner .banner_content h1{
   font-size: 68px;
   text-transform: uppercase;
   letter-spacing: 30px;
   font font-weight: 800;
}
#banner .banner_content p{
   font-size: 18px;
   line-height: 33px;
}
#banner .banner_content img{
   display: block;
   margin: 52px auto;
}
#banner .banner_content a{
   display: inline-block;
   font-size: 14px;
   text-transform: uppercase;
   font-weight: 800;
   color: #0b1016;
   background-color: #cfc91d;
   padding: 15px 40px;
   transition: all .4s linear;
}
#banner .banner_content a:hover{
background-color: #02918c;
color: #ffffff;
}
/* //Banner Section Css End */

/* About Me Section Css Start */
#about{
   padding: 98px 0;
}
#about .sec_info p{
   width: 878px;
}
#about .about_item_container{
   margin-top: 80px;
}
#about .about_item_container h5{
   font-size: 16px;
   font-weight: 800;
   line-height: 23px;
   color: #7e8287;
}
#about .about_item_container p{
   font-size: 11px;
   line-height: 21px;
   color: #7e8287;
}
#about .about_item{
   width: 25%;
   border-right: 1px solid #d9dbdb;
   padding: 36px 47px;
}
#about .about_item:last-child{
   border-right-color: transparent;
}
/* About Me Section Css End */

/* Services Section Css Start */
#services{
   background-image: url(../img/services_banner.png);
   background-size: cover;
   background-position: center;
   padding: 74px 81px;
   
}
#services .services_content{
   width: 50%;
}
#services .services_item{
   width: 50%;
}
#services .services_item h5{
   font-size: 16px;
   font-weight: 800;
   line-height: 23px;
   color: #7e8287;
}
#services .services_item p{
   font-size: 11px;
   line-height: 21px;
   color: #7e8287;
}
#services .services_item{
   margin-top: 59px;
   padding-right: 102px;
}

/* Services Section Css end */
